body {
	font-family: Georgia;
	color: #444;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header h1,
.header h3 {
	margin: 10px 0;
}

.header h3 {
	color: #999;
}

#list {
	max-width: 700px;
	margin: 0 auto;
}

.item {
	border: 5px solid #444;
	padding: 20px;
	margin-bottom: 20px;
}

.item img {
	width: 100%;
}